@import "font-face";

// Body
$body-bg: #ffffff;

// Typography
$font-primary: "DM Serif Text";
$font-secondary: "Antic Didone";
$font-s1: 1.5rem;
$font-s2: 1.26rem;
$font-s3: 18px;
$font-s4: 1.0rem;
$font-s5: 0.78rem;


// Colors
$main-color: #175BB2;
$secondary-color: #00155B;
$sky-color: #B4DED4;
$color-primary: #77D4FC;
$color-secondary: #4B91F1;
$color-green: #118822;
$color-red: #CC1111;
$color-anchor: #000080;
$color-anchor-red: #AA3468;
$color-anchor-green: #239942;

// Borders
$main-border: 1px solid #B4DED4;
$main-border-radius: 10px;

