// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-s1: 1.5rem;
$font-s2: 1.26rem;
$font-s3: 18px;
$font-s4: 1.0rem;
$font-s5: 0.78rem;


// Colors
$main-color: #175bb2;
$secondary-color: #00155b;
$sky-color: #B4DED4;

// Borders
$main-border: 1px solid #b4ded4;
$main-border-radius: 12px;

