// Variables
@use "variables" as *;

// Framework
@import "framework";

// Table
@import "table";

// Hx e.g. h1, h2, h3, etc...
@import "h";

// Buttons
@import "button";

// Nav
@import "nav";

// User Components
@import "user";

*
{
    padding: 0;
    margin: 0;
}

body
{
    @include flex-column;
    min-height: 100vh;
    color: #333;

    font: {
        family: $font-primary;
        weight: normal;
        style: normal;
    }
}

.logo
{
    width: 350px;
}

#app
{
    width: 90%;
    margin-inline: auto;
    flex: 1;
}

.footer
{
    padding: 5px;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}

.wood-word
{
    @include background-as-color;

    background-image: url('../images/backgrounds/wood.jpg');
}

.landing-book-poster
{
    width: 100%;
}

.a
{
    color: $color-anchor;
    text-decoration: none;
    cursor: pointer;

    &:hover
    {
        color: rgba($color-anchor, 0.93);
    }

    @at-root #{&}--red
    {
        @extend .a;

        color: $color-anchor-red;

        &:hover
        {
            color: rgba($color-anchor-red, 0.8);
        }
    }

    @at-root #{&}--green
    {
        @extend .a;

        color: $color-anchor-green;

        &:hover
        {
            color: rgba($color-anchor-green, 0.94);
        }
    }

    @at-root #{&}--small
    {
        @extend .a;

        font-size: $font-s5;
    }
}

